---
layout: default
title: Archive
description: Archive of past posts that you will find very interesting
pagination: 
  enabled: true
  per_page: 1000
---

<!-- Disqus integration-->
<script id="dsq-count-scr" src="https://jono-tech.disqus.com/count.js" async></script>

<a href="/blog" class="topCenter">Latest</a>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h4 class="post-title summary-post"  style="margin-bottom:20px;">
      <a href="{{ post.url }}">
       <span class="post-date" style="display:inline;">{{ post.date | date_to_string }}</span> 
          <span style="text-decoration:underline;">{{ post.title }}</span>
          <span class="tagline"> {% if post.tagline%}-{% endif %} {{ post.tagline }}</span>
      </a>
    </h4>
    <a class="disqus-comment-count" href="{{ post.url }}index.html/#disqus_thread" data-disqus-identifier="{{post.id}}"></a>
  </div>
  {% endfor %}
</div>
