<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} Shields
    {% else %}
      {{ page.title }} &middot; {{ site.title }} Shields
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans|Quattrocento" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script>
    var currentIcon = false;
        function swapIcon(){
            var link = document.createElement('link'),
                 oldLink = document.getElementById('dynamic-favicon');
             link.id = 'dynamic-favicon';
             link.rel = 'shortcut icon';
            link.type = 'image/ico';
            if(currentIcon){
                link.href = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAVFBMVEUAAAABCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA+27f+3AAAAG3RSTlMAAQMFBgoZLThNTlJwgI6Umqqrr7S1t77I+f3aTl/wAAAAX0lEQVQ4y+WStxHAMAwD4ZyDLFsJ++/pCUgVLlzo6z/wiANQBvV6Owm7ADioMQExyOkVDUCn3Kf7LNDowjhTF9D+L/QDc2/mhLjnm0xeEx7A0ot7CNyA7kriGuLZoBBe2VcQgpiYD9UAAAAASUVORK5CYII=";
            } else {
                link.href = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAaVBMVEUAAAABCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA8BCA94IF9mAAAAInRSTlMAAQIDBAUGChktOEZOUlZweH+Ulautr7S1t77ByODo9/n96mRlnwAAAHBJREFUOMvlkjcOgDAMRT+99w6hxPc/JCAYiTMy5Eme/GTLBTADpxgmFX1+CTVxZMAh1NUt6gCamP538grvrfchLJZGoJUX4pR4Af7/QhiRbkydsCW3YFcP36uWM3eLEehpVv6DoBIIWqn8hr1xYQgnqxAeAo3sofEAAAAASUVORK5CYII=";
            }
            currentIcon = !currentIcon;
            if (oldLink) {
          document.head.removeChild(oldLink);
         }
         document.head.appendChild(link);
        }
        setInterval(swapIcon, 500);
    
    </script>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    
  <meta name="author" content="Jono Shields">
    {% seo %}
    
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WR3V4RL');</script>
    <!-- End Google Tag Manager -->
</head>
