<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans|Quattrocento" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link id="dynamic-favicon" rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAPFBMVEUAAADnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImTnImSAlU3RAAAAE3RSTlMAAQMEBQsgNFaDhaKjpb7A4OLtcEwdxQAAAJdJREFUOI3d0MESgjAMRVEKVKRaFfP//2opWJuZYu6au3szZ5N03dl7eL2DiIQ2lZeyg6wNbartmOl4QJU1aG0tWlmT/qxNiwVUFo/pbhHdLKPZQrpaSpPFVJYLpvLm9Ilp9JRGR8+Kjj4rSUjvSTKaJaKbJHSXgH6lTYs06a1Ii1bSoLX8T5Xs+kz7Jr06vac5zFNTnqoPiI8gaece7ikAAAAASUVORK5CYII=">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    
  <meta name="author" content="Jono Shields">
    {% seo %}
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PVZZRG5');</script>
    <!-- End Google Tag Manager -->
</head>
