<h1 id="site-title"><a href="/">{{site.title}}</a></h1>
<nav>
    <a href="#main-content" class="screen-reader-text">Skip Navigation</a>
    <a class="sidebar-nav-item{% if page.url == '/ask/'%} active{% endif %}" href="/ask/">Ask</a>
    <a class="sidebar-nav-item{% if page.url == '/tutorials/index.html'%} active{% endif %}" href="/tutorials/">Tutorials</a>
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/blog/index.html'  %} active{% endif %}" href="/blog/">Blog</a>
</nav>
<h3 id="tagline"><a href="https://github.com/foopod"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
    <a href="https://twitter.com/foocodes"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://twitter.com/foocodes"><i class="fa fa-phone" aria-hidden="true"></i></a>
    <a href="https://twitter.com/foocodes"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</h3>
