<h1 id="site-title">{{site.title}}</h1>
<h3 id="tagline">{{site.tagline}}</h3>
<nav>
    <a href="#main-content" class="screen-reader-text">Skip Navigation</a>
    <a class="sidebar-nav-item{% if page.url == '/tutorials/index.html'%} active{% endif %}" href="/tutorials/">Tutorials</a>
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/blog/index.html'  %} active{% endif %}" href="/blog/">Blog</a>
    <a href="https://github.com/foopod"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
    <a href="https://twitter.com/foocodes"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</nav>