<a href="#main-content" class="screen-reader-text">Skip Navigation</a>
<div id="containerDiv" class="sidebar">
  <div class="container sidebar-container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
            <span>{{ site.title }}</span>
            <span class="surname">Shields</span>
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == '/tutorials/index.html'%} active{% endif %}" href="/tutorials/">Tutorials</a>
        <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/blog/index.html' or page.url == '/summary/index.html'%} active{% endif %}" href="/blog/">Blog</a>
    <div class="social">
     <a href="https://github.com/foopod"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
     <a href="https://twitter.com/foocodes"><i class="fa fa-twitter" aria-hidden="true"></i></a
      </div>
    
        
    </nav>
      <script>(function() {
           var colour;
           switch (new Date().getDay()) {
                case 0:
                    colour = "#F26D35";
                    break;
                case 1:
                    colour = "#4A4E59";
                    break;
                case 2:
                    colour = "#4683F4";
                    break;
                case 3:
                    colour = "#e72264";
                    break;
                case 4:
                    colour = "#A0D35D";
                    break;
                case 5:
                    colour = "#E60000";
                    break;
                case 6:
                    colour = "#EB5160";
            }
           document.getElementById("containerDiv").style.backgroundColor = colour;
        })();
      </script>
<!--{{page.url}}-->
<!--    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
